@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
  font-family: "PT sans", sans-serif;
}
body {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.navigation-item {
  align-self: center;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-logo {
  display: flex;
  align-items: center;
  width: 139px;
  margin-right: 30px;
}

.navigation-link {
  position: relative;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  padding: 20px 34px 20px 0px;
}
.navigation-icon {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}
.navigation-link:hover {
  color: #756257;
}
/*Почему не изменяется цвет*/
.navigation-icon:hover {
  fill: #756257;
}
.navigation-link:active {
  color: #7562574D;
}
.navigation-button:hover {
  background-color: #615048;
}
.navigation-button:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border: none;
}
.navigation-button:active {
  color: #FFFFFF4D;
}
.navigation-link-current::before {
  position: absolute;
  right: 34px;
  bottom: 0;
  left: 0px;
  height: 2px;
  background-color: #756257;
  content: "";
}
.navigation-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756257;
  color: #ffffff;
  padding: 0px 40px;
  border-radius: 4px;
  padding: 9px 35px;
}
.navigation-user {
  margin-left: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}
.welcome {
  display: block;
  margin: 0 auto;
}
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-social {
  width: 160px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item {
  width: 56px;
  height: 44px;
  margin-bottom: 8px;
}
.footer-social-item:nth-child(3n) {
  margin-left: 0;
}
.footer-social-link:hover {
  fill: #68A2CA;
}
.footer-social-link:focus {
  box-shadow: inset 0 0 0 3px #68A2CA;
  border: none;
  border-radius: 10px;

}
.footer-social-link:active {
  fill: #FFFFFF4D;
}
.footer-logo-link {
  width: 115px;
  margin-left: 53px;
  margin-right: 72px;
}
.catalog-filter-group {
  width: 150px;
  display: flex;
  flex-direction: row;
}
.catalog-filter {
  flex-wrap: wrap;
  max-width: 400px;
  display: flex;
  padding-left: 71px;
}
.button {
  text-decoration: none;
  color: #000000;
}
.first-screen {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 146px;
  margin-bottom: 80px;
}
.first-screen-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 720px;
}
.first-screen-description {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}
.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 23.7% 25% 23.7% 25%;
  padding: 0;
}
.advantages-item {
  list-style-type: none;
}
.advantages-number-one {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advantages-number-one p,
.advantages-number-two p {
  width: 220px;
  text-align: center;
}
.advantages-number-one,
.advantages-number-two {
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-number-two {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-road {
  background: rgba(131, 179, 211, 0.2);
}
.advantages-house,
.advantages-souvenir,
.advantages-area,
.advantages-tourists {
  background: rgba(131, 179, 211, 0.12);
}
.advantages-tourists,
.advantages-road,
.advantages-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.advantages-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 400px;
  text-align: center;
}
.advantages_descripton {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  max-width: 250px;
  text-align: center;
  box-sizing: border-box;
}
.advantages-food {
  background-image: url("../images/icon-2.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
  background-position: top 60px center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.advantages-souvenir {
  background-image: url("../images/icon-3.svg");
  background-size: 64px 78px;
  background-repeat: no-repeat;
  background-position: center 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.advantages-house {
  background-image: url("../images/icon-1.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: center 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.hotel-search {
  padding-top: 91px;
  padding-bottom: 93px;
}
.hotel-search-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 29px;
}
.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  max-width: 720px;
  margin: 0 auto 56px auto;
}
.hotel-search-link {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756257;
  color: #ffffff;
  font-weight: 700;
  padding: 15px 150px;
  border-radius: 10px;
}
.hotel-search-link:hover {
  background-color: #615048;
}
.hotel-search-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border: none;
}
.hotel-search-link:active {
  color: #FFFFFF4D;
}
.hotel-search {
  text-align: center;
}
.newsletter {
  text-align: center;
  color: #ffffff;
  background-image: url("../images/background.jpg");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
  padding: 94px 0px;
}
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.newsletter-description {
  width: 720px;
  margin: 0 auto;
  padding: 29px 240px 46px 240px;
}
.newsletter-catalog {
  background-image: none;
  color: #000000;
}
.newsletter-form {
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.newsletter-form button {
  text-transform: uppercase;
  background-color: #83b3d3;
  color: #ffffff;
  border-radius: 0px 10px 10px 0px;
  border: 0;
  margin-left: 0px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 10px 50px;
}
.newsletter-form button:hover {
  background-color: #68A2CA;
}
.newsletter-form button:focus {
  box-shadow: inset 0 0 0 3px #756257;
  border: none;
}
.newsletter-form button:active {
  color: #FFFFFF4D;
}
.newsletter-form input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  padding: 10px 150px 10px 22px;
}
.newsletter-form input:hover {
  background-color: #E6E6E6;
}
.newsletter-form input:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border: none;

}
.footer-contacts {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin: 0 auto;
}
.footer-number:hover ,
.footer-logo-link:hover {
  color: #756257;
  fill: #756257;
}
.footer-number:focus ,
.footer-logo-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border: none;
  border-radius: 10px;
}
.footer-number:active ,
.footer-logo-link:active {
  color: #756257;
  opacity: 0.3;
}
.index-columns {
  color: #ffffff;
  padding-top: 1px;
}
.inner-header {
  padding-left: 71px;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  display: flex;
  list-style-type: none;
  padding: 0;
}
.breadcrumbs-item:not(:last-child) {
  padding-right: 26px;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
  margin-top: 56px;
  justify-content: space-around;
}
.product-card {
  display: flex;
  width: 340px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.product-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  margin: 16px 0;
}
.product-card  b{
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.product-card-housetype {
  padding-left: 6px;
  width: 133px;
}
.product-card-price {
  width: 143px;
}
.product-card-button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}
.filter-button {
  color: #ffffff;
  background-color:#83b3d3;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.search-results {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
}
.select-control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  margin-left: 192px;
  padding: 12px 127px 13px 19px;
}
.button-more {
  background-color: #756257;
  text-decoration: none;
  width: 133px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 0;
  margin-left: 20px;
  margin-right: 26px;
  text-transform: uppercase;
}
.button-favorites {
  background-color: #83b3d3;
  text-decoration: none;
  width: 140px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 0;
  margin-right: 15px;
  text-transform: uppercase;
}
.button-favorites-current {
  background-color: #7db54f;
  text-decoration: none;
  width: 140px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 0;
  margin-right: 15px;
  text-transform: uppercase;
}
.product-card-ranking {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}
.product-card-link {
  text-decoration: none;
}
.pagination-show-more {
  background-color: #83b3d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 0px;
  text-align: center;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 auto;
}
.pagination-clear {
  background-color: transparent;
}
.pagination-show-more {
  margin: 30px auto;
  padding: 17px 300px;
  display: flex;
  border-radius: 4px;
}
.pagination-page {
  display: flex;
  justify-content: space-between;
}
.hotels-per-page-label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hotels-per-page {
  margin-left: 51px;
  padding: 13px 133px 12px 17px;
  border-radius: 4px;
}
.main-index {
  background-image: url("../images/index-background.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  display: flex;
  margin: 0 auto;
}
.product-card-ranking {
  background-image: url("../images/star.svg");
}
.footer-social-item.twitter {
  margin-left: 72px;
}

.index-columns {
  background-image: url("../images/catalog-background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  padding-bottom: 60px;
}
.button-light {
  background-image: url("../images/mode-tile-1.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
}
.button-full {
  background-image: url("../images/mode-slideshow-1.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
}
.button-cards {
  background-image: url("../images/mode-list-1.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
}
.product-card-ranking {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
}








.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
